[submodule "AJL"]
	path = AJL
	url = https://github.com/revk/AJL
[submodule "login"]
	path = login
	url = https://github.com/revk/login
[submodule "SQLlib"]
	path = SQLlib
	url = https://github.com/revk/SQLlib
[submodule "xmlsql"]
	path = xmlsql
	url = https://github.com/revk/xmlsql
[submodule "toot"]
	path = toot
	url = https://github.com/revk/toot.git
