[submodule "AJL"]
	path = AJL
	url = https://github.com/revk/AJL
[submodule "login"]
	path = login
	url = https://github.com/revk/login
[submodule "SQLlib"]
	path = SQLlib
	url = https://github.com/revk/SQLlib
